<h1> Professor's students </h1>
<h3>Professor <%= @professor.name %> </h3>
<% @professor.students.each do |student| %>
    <p><%= student.name %></p>

<% end %>
Average Student Age: <%= @professor.avg_age %>
